.camera,
.cameraHidden {
  background-color: #171717;
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  border: 2px solid ebebeb;
  transition: 0.2s;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.cameraHidden {
    opacity: 0;
    transition: 1s;
  }

  .videoContainer {
    position: relative;
    border-radius: 8px;
    transform: scaleX(-1§);
    .canvas {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .viewer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .resultCanvas {
    position: absolute;
    top: 200vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
