.camera {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: #171717;
  border: 2px solid ebebeb;
  transition: 0.2s;

  .videoContainer {
    position: relative;
    .canvas {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .viewer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
