.camera {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: #171717;

  .videoContainer {
    position: relative;
    .canvas {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.5;
    }
  }
}
